img {
    width: 100%;
}

.appointment-btn {
    text-transform: uppercase;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    padding: 20px 50px;
    text-decoration: none;
    background: #fff;
    color: #000;
}


/* For Mobile */
@media screen and (max-width: 360px) {
    .appointment-btn {
        font-size: 10px;
        padding: 10px 15px;
        bottom: 20px;
    }
}

/* For Mobile */
@media screen and (min-width: 361px) and (max-width: 425px) {
    .appointment-btn {
        font-size: 12px;
        padding: 10px 20px;
        bottom: 20px;
    }
}

/* For Tablets */
@media screen and (min-width: 426px) and (max-width: 767px) {
    .appointment-btn {
        font-size: 14px;
        padding: 10px 20px;
        bottom: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    .appointment-btn {
        font-size: 16px;
        padding: 15px 40px;
        bottom: 70px;
    }
}