<div>
  <section class="text-center position-relative">
    <img src="/assets/home_1.png" alt="Hair plus main" />
    <a href="https://wa.me/916280258880" target="_blank" class="appointment-btn"></a>
  </section>

  <section class="text-center">
    <img src="/assets/home_2.png" alt="intro" />
  </section>

  <section class="text-center">
    <img src="/assets/home_3.png" alt="services 1" />
  </section>

  <section class="text-center">
    <img src="/assets/home_4.png" alt="services 2" />
  </section>

  <section class="text-center">
    <img src="/assets/home_5.png" alt="services 2" />
  </section>

  <section class="text-center">
    <img src="/assets/home_6.png" alt="services 2" />
  </section>

  <section class="text-center">
    <img src="/assets/home_7.png" alt="services 2" />
  </section>

  <section class="text-center">
    <img src="/assets/home_8.png" alt="services 2" />
  </section>
</div>