/* You can add global styles to this file, and also import other style files */
body,
body {
    font-family: serif !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-80 {
    width: 80%;
}